
@font-face {
	font-family: 'Shift';
	font-style: normal;
	font-weight: normal;
	src: url("fonts/shift.woff") format("woff");
}

@font-face {
	font-family: 'Shift';
	font-style: normal;
	font-weight: bold;
	src: url("fonts/shift-bold.woff") format("woff");
}

.nav a {
	color: #5a5a5a;
	font-size: 15px;
	font-weight: bold;
	padding: 20px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.jumbotron {
	background-image: url("../images/jumbotron.jpg");
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
	position: relative;
	top:100px;
}

.jumbotron h1 {
	color: #fff;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	font-size: 20px;
	color: #fff;
}

.projects {
	background-color: #f7f7f7;
}

.projects h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.projects a {
	color: #00b0ff;
}

.thumbnail img:hover {
	opacity: .5;
}

.ending a {
	color: #5a5a5a;
	font-size: 11px;
	padding-left: 20px;
	padding-right: 20px;
}

.ending h4 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 11px;
	padding-right: 25px;
}

.ending {
	border-top: 1px solid #dbdbdb;
	padding-top: 10px;
}
