---
title: Ricky // Portfolio
---

<div class="container">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">Portfolio</h1>
        </div>
    </div>

    <div class="card-columns">

        {% for item in site.portfolio  %}

            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="{{ item.image }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ item.title }}</h4>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ item.tech_stack[0] }} | {{ item.tech_stack[1] }}</small></p>

                        {% if item.live_link != null %}
                            <a href="{{ item.live_link }}" target="_blank" class="btn btn-primary">{{ item.live_link_name }}</a>
                        {% endif %}

                        <a href="{{ item.url }}" class="btn btn-dark">More</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>