<div class="footer bg-light">
    <div class="container">

        {% unless page.title == "Ricky Deal - About" %}
            <div class="bio">
                <div class="bio-img">
                    <img src="/images/bitmoji.png" width="125">
                </div>
                <div class="bio-details">
                    <div>
                        <p>Hey, I'm Ricky! I live in Washington, DC and I'm a web developer in the <a href="https://en.wikipedia.org/wiki/Hospitality_industry" target="_blank">hospitality industry</a>.</p>
                        <p>Let's share an americano!</p>
                    </div>
                </div>
            </div>
        {% endunless %}

        <div class="ending">
            <p>
                <a href="https://twitter.com/_rickyreal" target="_blank">Twitter</a> |
                <a href="https://github.com/rainerdeal" target="_blank">GitHub</a> |
                <a href="https://www.linkedin.com/in/rickydeal/" target="_blank">LinkedIn</a> |
                <a href="https://www.instagram.com/_rickyreal/">Instagram</a>
            </p>
            <h4>&copy; 2017-<script>document.write(new Date().getFullYear());</script> Designed by Ricky Deal</h4>
        </div>
    </div>
</div>

<!-- Optional JavaScript for Bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->