
<!-- This is a starting point, but needs a lot more work. -->
{% unless page.category == null %}
    {% capture pageCategory %}{{ page.category }}{% endcapture %}
    {% unless site.categories[pageCategory].size == 1 %}
        <div class="row related-posts">
        <h2 class="text-center">More {{ page.category }} Posts!</h2>
        <div class="medium-12 small-12 columns">
            {% for post in site.categories[pageCategory] limit:3 %}
            {% unless post.title == page.title %}

            <h3>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                </a>
            </h3>

            {% endunless %}
            {% endfor %}
        </div>
        </div>
    {% endunless %}
{% endunless %}