<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{ page.soundcloud }}&auto_play=false&buying=false&sharing=false&download=false&show_artwork=true&show_playcount=false&show_user=false&hide_related=true&show_comments=false&show_reposts=false&show_teaser=true"></iframe>

<!-- default settings -->
<!-- &auto_play=false&buying=false&sharing=false&download=false&show_artwork=true&show_playcount=false&show_user=false&hide_related=true&show_comments=false&show_reposts=false&show_teaser=true -->