---
layout: default
---

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Hey, I'm Ricky.</h1>
        <p>Python • iOS • Web Developer</p>
    </div>
</div>

<div class="content">

    <div class="sticker-wrapper">
        <div class="sticker">
            <h1 class="title">About Me</h1>
        </div>
    </div>

    <div class="container">

        {% include soundcloud.html %}

        <img class="pro" src="/images/blog/sunglasses.jpg" height="400">

        {{ content }}

    </div>
</div>