
html, body {
    overflow-x: hidden;
    font-size: 15pt;
}

.header {
    text-align: center;
    padding-bottom: 1%;
}
.header .navbar-brand {
    margin: 0;
}
.header a {
    color: #5a5a5a;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1%;
    text-shadow: 1px 1px crimson;
}
.header span {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
}

.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron .container {
    position: relative;
    top: 100px;
}
.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}
.jumbotron p {
    font-size: 20px;
    color: #fff;
}

.about .container {
    padding-left: 10%;
    padding-right: 10%;
}
.about img {
    float: left;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
    text-align: center;
}
.card-columns {
    text-align: center;
}

.ending {
    border-top: 1px solid #dbdbdb;
    padding-top: 1%;
    text-align: center;
}
.ending a {
    color: #5a5a5a;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
}
.ending h4 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 11px;
    padding-right: 25px;
    text-align: right;
}

/* iPhone */
@media all and (max-width: 568px) {

    html, body {
        font-size: 12pt;
    }

    .header a {
        color: #5a5a5a;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1%;
        text-shadow: 1px 1px crimson;
    }
    .header span {
        color: #5a5a5a;
        font-size: 15px;
        font-weight: bold;
    }

    .jumbotron p {
        font-size: 20px;
        color: #fff;
    }
}

